# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Callan Gray
email: cal.j.gray@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Callan Gray - Software Engineer at ICRAR. University of Western Australia.
twitter_username: CalGray
github_username: calgray
minimal_mistakes_skin: default
repository: calgray/calgray.github.io
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-giphy
  - jekyll-katex
  - jekyll-spaceship

author:
  name   : "Callan Gray"
  avatar : "/assets/images/1523019784431.jpg"
  bio    : "Software Engineer at ICRAR. formerly at University of Western Australia, and Immersive Technologies."
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://calgray.github.io"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/callan-gray"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/calgray/"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/calgray"
    - label: "Twitter"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/CalGray"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/calzgy"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/callan-gray"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/calgray/"
    - label: "GitLab"
      icon: "fab fa-fw fa-gitlab"
      url: "https://gitlab.com/calgray"
    - label: "Twitter"
      icon: "fab fa-fw fa-x-twitter"
      url: "https://x.com/CalGray"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/calzgy"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      classes: wide
      author_profile: true
  # _projects
  - scope:
      path: "_projects"
      type: projects
    values:
      layout: single
      classes: wide
      author_profile: true

# posts
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

collections:
  projects:
    output: true
    permalink: /projects/:title/

jekyll-spaceship:
  processors:
    - media-processor
  media-processor:
    default:
      id: 'media-{id}'
      class: 'media'
      width: '100%'
      height: 300
      padding-top: 0
      frameborder: 0
      style: 'max-width: 600px; outline: none;'
      allow: 'encrypted-media; picture-in-picture'
